*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D3636;
    color: black;
    font-size: 15px;
    padding: 20px;
}
.pedirDatos{
    font-size: 20px;
    color: black;
    background-color: #332E30;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 10px;
    color: white;
}
.seccion-form{
    background-color: #332E30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4D3636;
    padding: 20px;
    border: 3px solid black;
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}

.usuario{
    height: 45px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.nombre{
    height: 45px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.email{
    height: 45px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.telefono{
    height: 45px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.enviar{
    margin-top: 20px;
}

/* css - contenedor-pedido-hecho */

.contenedor-pedido-hecho{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 700px;
}

.contendor-checkout{
    padding: 30px;
    border: 2px solid white;
}

.tu-id-pedido{
    margin-top: 30px;
    font-size: 30px;
}